<div class="home-page">
  <header>Default</header>
  <div nag-expander data-ut="defaults" data-template="/app/components/home/assets/templates/defaults.html"></div>
  
  <header>Custom Handle Selector</header>
  <div nag-expander data-ut="custom-handle" data-handle-selector="> .custom-handle" data-template="/app/components/home/assets/templates/custom-handle-selector.html"></div>

  <header>Custom Content Selector</header>
  <div nag-expander data-ut="custom-content" data-content-selector="> .custom-content" data-template="/app/components/home/assets/templates/custom-content-selector.html"></div>
</div>
